.head{
    background-color: yellow;
}
*{
    padding: 10px;
    text-align: center;
}
table{
    table-layout: auto;
    width: 40%;
    border-collapse: collapse;
    border: 1px solid black;
}
th,td,tr{
    border: 1px solid black;
}
.grey{
    background-color: grey;
}
.Home{
    background-color: lightpink;
}